<% if cart_has_items %>
  <button class="btn btn-light"><%= link_to cart_path(@cart) do %>
      <i class="fa" style="font-size:24px">&#xf07a;</i>
      <span class='badge badge-warning' id='lblCartCount'><%= @cart.line_items.map(&:quantity).sum %></span>
  </button>
  <% end %>
<% end %>
