<% if cart_has_items %>
  <button class="btn btn-light"><%= link_to cart_path(@cart) do %>
    <h6><span class="badge badge-light">
      <i class="fa fa-shopping-cart"> Cart</i>
      <% @cart.line_items.each do |item| %>
      <span class="badge badge-dark"><%= item.quantity %></span>
      <% end %>
    </h6>
  </button>
  <% end %>
<% end %>