<div class="container">
  <div class="row justify-content-start">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <div class="form-item">
        <h3>Payment details</h3>
        <div class="row display-tr ml-1">
          <h5 class="text-center">Accepted Cards</h5>
          <div class="display-td mb-3">
            <img class="img-responsive pull-right" src="http://i76.imgup.net/accepted_c22e0.png">
          </div>
        </div>
        <label for="fname"></i> Cardholder name</label>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"><i class="fa fa-user"></i></span>
          </div>
          <input type="text" class="form-control" placeholder="John More Doe">
        </div>
        <label for="ccnum"> Card number</label>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"><i class="far fa-credit-card"></i></span>
          </div>
          <input type="text" class="form-control" placeholder="1111-2222-3333-4444">
        </div>
        <label for="expmonth">Exp Date</label>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"><i class="far fa-calendar"></i></span>
          </div>
          <input type="text" class="form-control" placeholder="MM/YY">
        </div>
        <label for="cvv">CVV</label>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"><i class="fas fa-lock"></i></span>
          </div>
          <input type="text" class="form-control" placeholder="352">
        </div>
      </div>
    </div>
  </div>
</div>
