<div class="container">
  <div class="row justify-content-center">
    <div class="col-12">
      <div class="form-item">
        <h5 class="text-center">Confirm Payment</h5>
        <div class="row display-tr ml-1">
          <div class="display-td mb-3">
            <img class="img-responsive pull-center" src="https://www.merchantequip.com/images/logos/visa-mastercard-211x65.gif">
          </div>
        </div>
        <label for="fname"></i> Cardholder name</label>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"><i class="fa fa-user"></i></span>
          </div>
          <input type="text" class="form-control" placeholder="John More Doe">
        </div>
        <label for="ccnum"> Card number</label>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"><i class="far fa-credit-card"></i></span>
          </div>
          <input type="text" class="form-control" placeholder="1111-2222-3333-4444">
        </div>
        <label for="expmonth">Exp Date</label>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"><i class="far fa-calendar"></i></span>
          </div>
          <input type="text" class="form-control" placeholder="MM/YY">
        </div>
        <label for="cvv">CVV</label>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"><i class="fas fa-lock"></i></span>
          </div>
          <input type="text" class="form-control" placeholder="352">
        </div>
      </div>
    </div>
  </div>
</div>
