<section class="header-video">
  <div id="hero_video">
    <div id="sub_content">
      <h1>What's on <br/>
        <em>the Menu</em><br/>
        tonight?</h1>
      <!-- <form method="post">
            <div id="custom-search-input">
                <div class="input-group">
                    <input type="text" class=" search-query" placeholder="Enter your Address or postal code">
                    <span class="input-group-btn">
                    <input type="submit" class="btn_search" value="Enter">
                    </span>
                </div>
            </div>
        </form> -->
    </div>
  </div>
  <video autoplay muted loop id="myVideo">
    <source src="http://www.ansonika.com/quickfood/video/intro.mp4" type="video/mp4">
  </video>
</section>

<!-- <div class="section pattern-section">
  <div class="wrapper w-container">
    <div class="side-image-wrapper">
    <div class='side-image'></div>
    <div class="side-image-content">
      <div class="sub-header">Chief’s Word</div>
      <h2 >Made with Love</h2>
      <div class="divider"></div>
      <p class="grey-text">Fish is one of the most wholesome foods that man can eat. but the whole process of cleaning and filleting</p><img src="signature.png" width="184" alt="">
    </div>
  </div>
  </div>
</div> -->
<div class="section pattern-section no-bottom-padding">
  <div class="wrapper w-container">
    <div class="side-image-wrapper"><img src="https://res.cloudinary.com/dc8t19jnn/image/upload/v1600196102/louis-hansel-shotsoflouis-v3OlBE6-fhU-unsplash_1_zjcvdz.jpg" class="side-image">
      <div class="side-image-content">
        <div class="sub-header">Marco White</div>
        <h2>Made with Love</h2>
        <div class="divider"></div>
        <p class="grey-text">I love to cook burgers, it inspires me</p><img src="images/signature.png" width="184" data-w-id="71de25f9-bb72-e1f2-f356-f483cf53a975" style="opacity:0" alt=""></div>
    </div>
  </div>
</div>

<div class="section pattern-section no-bottom-padding">
  <div class="wrapper w-container">
    <div class="side-card-feature">
      <div class="side-card-image _1"></div>
      <div class="side-card">
        <div class="side-card-content">
          <h3 class="side-card-header">Beautiful Food</h3>
          <div class="divider"></div>
          <h6 class="grey-text">The finest chef cooked food</h6>
        </div>
        <div class="frame"></div>
      </div>
    </div>
  </div>
</div>
<div class="section pattern-section">
  <div class="wrapper w-container">
    <div class="side-card-feature reversed">
      <div class="side-card reversed" data-aos="fade-left" data-aos-duration="1000" >
        <div class="side-card-content">
          <h3 class="side-card-header">Home Delivery</h3>
          <div class="divider"></div>
          <h6 class="grey-text">Delivery straight to your door.</h6>
        </div>
        <div class="frame"></div>
      </div>
      <div class="side-card-image _2" data-aos="fade-right" data-aos-duration="1000"></div>
    </div>
  </div>
</div>

<div class="bg-section cta-section">
  <div class="wrapper w-container">
    <div class="cta-content">
      <div class="sub-header">The Menu</div>
      <h2>Your Kitchen</h2>
      <div class="divider"></div>
      <p class="section-description">Starting looking at food now!</p><a href="#home-video-anchor" class="main-button">Let's eat</a></div>
  </div>
</div>

<div class="section pattern-section">
  <div class="wrapper w-container">
    <div class="side-card-feature reversed">
      <div class="side-card reversed" data-aos="fade-left" data-aos-duration="1000" >
        <div class="side-card-content">
          <h3 class="side-card-header">Home Delivery</h3>
          <div class="divider"></div>
          <h6 class="grey-text">Delivery straight to your door.</h6>
        </div>
        <div class="frame"></div>
      </div>
      <div class="side-card-image _2" data-aos="fade-right" data-aos-duration="1000"></div>
    </div>
  </div>
</div>

<div class="section">
  <div class="wrapper w-container">
    <div class="section-header-wrapper">
      <div class="sub-header">Watch</div>
      <h2>Become a Menu chef</h2>
      <div class="divider"></div>
    </div>
    <div class="video-wrapper">
      <div class="w-video w-embed"><iframe width="853" height="480" src="https://www.youtube-nocookie.com/embed/VnvG08masio" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
    </div>
  </div>
</div>

<!-- <div class="v-section embeded-video-section">
  <div class="v-wrapper">
    <div class="w-layout-grid main-grid">
      <div id="w-node-fa83d2f55b11-f84155e4" class="flex-left">
        <div class="text-label">Watch an overview </div>
        <h2 class="heading-margin-big">Take a look at what we can do for you..<br></h2></div>
        <a href="#" id="w-node-fa83d2f55b18-f84155e4" class="circle-button play w-inline-block w-lightbox">
        <div class="circle-base"><img src="https://res.cloudinary.com/dc8t19jnn/image/upload/v1600010354/play-icon_ydlkvt.svg" alt="" class="circle-icon"></div>
      </a>
    </div>
  </div>
  <div data-poster-url="https://uploads-ssl.webflow.com/5e4ff0bde7b6f884f12d30e3/5ed507b27444f0681ab4573b_Music Manager Website Landing Page Web Hosting-poster-00001.jpg" data-video-urls="https://uploads-ssl.webflow.com/5e4ff0bde7b6f884f12d30e3/5ed507b27444f0681ab4573b_Music Manager Website Landing Page Web Hosting-transcode.mp4,https://uploads-ssl.webflow.com/5e4ff0bde7b6f884f12d30e3/5ed507b27444f0681ab4573b_Music Manager Website Landing Page Web Hosting-transcode.webm" data-autoplay="true" data-loop="true" data-wf-ignore="true" data-w-id="ff7f4c18-59f0-f1ac-201c-fa83d2f55b1b" class="bg-image w-background-video w-background-video-atom"><video autoplay="" loop="" style="background-image:url(&quot;https://uploads-ssl.webflow.com/5e4ff0bde7b6f884f12d30e3/5ed507b27444f0681ab4573b_Music Manager Website Landing Page Web Hosting-poster-00001.jpg&quot;)" muted="" playsinline="" data-wf-ignore="true" data-object-fit="cover"><source src="http://www.ansonika.com/quickfood/video/intro.mp4" data-wf-ignore="true"><source src="http://www.ansonika.com/quickfood/video/intro.mp4" data-wf-ignore="true"></video></div>
</div> -->

<!-- <section>
  <div id="Scroll-Section" class="section">
      <div class="wrapper w-container">
        <div class="section-header-wrapper">
          <div data-w-id="a38902d4-32ae-e303-b281-40b558d474b5" style="opacity:0" class="sub-header">Discover</div>
          <h2 data-w-id="ce565286-eed9-2f81-ad34-efd62d10f73e" style="opacity:0">New Flavors</h2>
          <div data-w-id="074f91ac-a9dc-290c-0404-e09c9f11a70c" style="opacity:0" class="divider"></div>
        </div>
        <p data-w-id="0fc02ec2-4ac0-917f-5189-31a0e1b8cbf9" style="opacity:0" class="paragraph-big intro-text">Fish is one of the most wholesome foods that man can eat. In fact, people have been eating fish throughout human history. These days, many cooks yearn to add fish to their repertoire, but the whole process of cleaning and filleting fresh fish is a little scary to them. The process of cleaning and filleting fresh fish is <a href="blog.html" class="text-link">relatively simple</a> once the steps are understood.  To begin, you must clean your fresh fish properly in order to maintain it’s quality.</p>
      </div><a href="about.html" data-ix="fade-up-4" data-w-id="b1272952-955b-1e16-552f-44627bc6069d" style="opacity:0" class="button w-button">More About Us</a></div>
</section> -->
<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright" >
    <%= link_to "Partner with us", new_user_registration_path(chef: true), class: "btn btn-ghost" %>
  </div>
</div>
