
<section class="header-video">
  <div id="hero_video">
    <div id="sub_content">
        <h1>What's on <br/><em>the Menu</em><br/>tonight?</h1>
        <!-- <form method="post">
            <div id="custom-search-input">
                <div class="input-group">
                    <input type="text" class=" search-query" placeholder="Enter your Address or postal code">
                    <span class="input-group-btn">
                    <input type="submit" class="btn_search" value="Enter">
                    </span>
                </div>
            </div>
        </form> -->
    </div>
  </div>
  <video autoplay muted loop id="myVideo">
  <source src="http://www.ansonika.com/quickfood/video/intro.mp4" type="video/mp4">
  </video>
</section>
<!--
<div class="section pattern-section">
  <div class="wrapper w-container">
    <div class="side-image-wrapper"><img src="../images/chief-photo.jpg" srcset="images/chief-photo-p-500.jpeg 500w, images/chief-photo-p-800.jpeg 800w, images/chief-photo.jpg 940w" sizes="(max-width: 479px) 81vw, (max-width: 767px) 82vw, (max-width: 991px) 48vw, 35vw" alt="" class="side-image">
    <div class="side-image-content">
      <div class="sub-header">Chief’s Word</div>
      <h2 >Made with Love</h2>
      <div class="divider"></div>
      <p class="grey-text">Fish is one of the most wholesome foods that man can eat. but the whole process of cleaning and filleting</p><img src="signature.png" width="184" alt="">
    </div>
  </div>
  </div>
</div> -->

<div class="section pattern-section no-bottom-padding">
  <div class="wrapper w-container">
    <div class="side-card-feature">
      <div class="side-card-image _1"></div>
      <div class="side-card">
        <div class="side-card-content"><img src="images/interior-icon_1interior-icon.png" alt="" class="big-icon">
          <h3 class="side-card-header">Beautiful Food</h3>
          <div class="divider"></div>
          <p class="grey-text">The finest chef cooked food</p>
        </div>
        <div class="frame"></div>
      </div>
    </div>
  </div>
</div>

<div class="section pattern-section">
  <div class="wrapper w-container">
    <div class="side-card-feature reversed">
      <div class="side-card reversed">
        <div class="side-card-content"><img src="images/apple-icon_1apple-icon.png" alt="" class="big-icon">
          <h3 class="side-card-header">Home Delivery</h3>
          <div class="divider"></div>
          <p class="grey-text">Delivery straight to your door.</p>
        </div>
        <div class="frame"></div>
      </div>
      <div class="side-card-image _2"></div>
    </div>
  </div>
</div>

<section>
  <div id="Scroll-Section" class="section">
      <div class="wrapper w-container">
        <div class="section-header-wrapper">
          <div data-w-id="a38902d4-32ae-e303-b281-40b558d474b5" style="opacity:0" class="sub-header">Discover</div>
          <h2 data-w-id="ce565286-eed9-2f81-ad34-efd62d10f73e" style="opacity:0">New Flavors</h2>
          <div data-w-id="074f91ac-a9dc-290c-0404-e09c9f11a70c" style="opacity:0" class="divider"></div>
        </div>
        <p data-w-id="0fc02ec2-4ac0-917f-5189-31a0e1b8cbf9" style="opacity:0" class="paragraph-big intro-text">Fish is one of the most wholesome foods that man can eat. In fact, people have been eating fish throughout human history. These days, many cooks yearn to add fish to their repertoire, but the whole process of cleaning and filleting fresh fish is a little scary to them. The process of cleaning and filleting fresh fish is <a href="blog.html" class="text-link">relatively simple</a> once the steps are understood.  To begin, you must clean your fresh fish properly in order to maintain it’s quality.</p>
      </div><a href="about.html" data-ix="fade-up-4" data-w-id="b1272952-955b-1e16-552f-44627bc6069d" style="opacity:0" class="button w-button">More About Us</a></div>
</section>