<section class="header-video">
  <div id="hero_video">
    <div class="section-header-wrapper">
    <div class="sub-header">Welcome to</div>
      <h1><em>The Menu</em></h1>
      <div class="divider"></div>
    </div>
      <p class="section-description">Starting looking at food now!</p>
<!--       <form method="post">
            <div id="custom-search-input">
                <div class="input-group">
                    <input type="text" class=" search-query" placeholder="Enter your Address or postal code">
                    <span class="input-group-btn">
                    <input type="submit" class="btn_search" value="Enter">
                    </span>
                </div>
            </div>
        </form> -->

  </div>
  <video autoplay muted loop id="myVideo">
    <source src="http://www.ansonika.com/quickfood/video/intro.mp4" type="video/mp4">
  </video>
</section>


<div class="hero-section">
  <div class="wrapper w-container" data-aos="fade-up" data-aos-duration="3000">
    <div class="section-header-wrapper">
      <div class="sub-header">Discover</div>
      <h2>New Flavors</h2>
      <div class="divider"></div>
    </div>
    <p class="paragraph-big intro-text">Welcome to The Menu, your local chef. Cooking declious home cooked meals straight to your door. Read on to find out more. Read on to find out more. Read on to find out more.</p>
  </div><!-- <a href="" class="main-button w-button">More About Us</a> -->
</div>
<!-- <div class="section pattern-section">
  <div class="wrapper w-container">
    <div class="side-image-wrapper">
    <div class='side-image'></div>
    <div class="side-image-content">
      <div class="sub-header">Chief’s Word</div>
      <h2 >Made with Love</h2>
      <div class="divider"></div>
      <p class="grey-text">Fish is one of the most wholesome foods that man can eat. but the whole process of cleaning and filleting</p><img src="signature.png" width="184" alt="">
    </div>
  </div>
  </div>
</div> -->
<div class="section pattern-section no-bottom-padding">
  <div class="wrapper w-container">
    <div class="side-image-wrapper"><img src="https://res.cloudinary.com/dc8t19jnn/image/upload/v1600196102/louis-hansel-shotsoflouis-v3OlBE6-fhU-unsplash_1_zjcvdz.jpg" class="side-image">
      <div class="side-image-content">
        <div class="sub-header">Featured Chef</div>
        <h2>Made with Love</h2>
        <div class="divider"></div>
        <p class="grey-text">I love to cook burgers, it inspires me</p><img src="https://res.cloudinary.com/dc8t19jnn/image/upload/v1600535174/Untitled-1_kpsnam.png" width="184" data-aos="fade-left" data-aos-duration="1000" data-aos-delay="100" data-aos-easing="ease-in-sine"></div>
    </div>
  </div>
</div>

<div class="section pattern-section no-bottom-padding">
  <div class="wrapper w-container">
    <div class="side-card-feature">
      <div class="side-card-image _1" data-aos="fade-left" data-aos-duration="1000" data-aos-easing="ease-in-sine"></div>
      <div class="side-card" data-aos="fade-right" data-aos-duration="1000" data-aos-easing="ease-in-sine">
        <div class="side-card-content">
          <h3 class="side-card-header">Beautiful Food</h3>
          <div class="divider"></div>
          <h6 class="grey-text">The finest chef cooked food</h6>
        </div>
        <div class="frame"></div>
      </div>
    </div>
  </div>
</div>
<div class="section pattern-section">
  <div class="wrapper w-container">
    <div class="side-card-feature reversed">
      <div class="side-card reversed" data-aos="fade-left" data-aos-duration="1000" data-aos-easing="ease-in-sine">
        <div class="side-card-content">
          <h3 class="side-card-header">Home Delivery</h3>
          <div class="divider"></div>
          <h6 class="grey-text">Delivery straight to your door.</h6>
        </div>
        <div class="frame"></div>
      </div>
      <div class="side-card-image _2" data-aos="fade-right" data-aos-duration="1000" data-aos-easing="ease-in-sine"></div>
    </div>
  </div>
</div>

<div class="bg-section cta-section">
  <div class="wrapper w-container">
    <div class="cta-content">
      <div class="sub-header">The Menu</div>
      <h1><em>Ready to eat?</em></h1>
      <!-- <h1>The Menu</h1> -->
      <div class="divider"></div>
      <p class="section-description">Starting looking at food now!</p><a href="#enter-your-postcode" class="main-button">Explore</a></div>
  </div>
</div>

<div class="hero-section">
  <div class="wrapper w-container">
    <div class="section-header-wrapper">
      <div class="sub-header">Need inspiration?</div>
      <h2>See us in action</h2>
      <div class="divider"></div>
    </div>
    <div class="video-wrapper">
      <div class="w-video w-embed"><iframe width="853" height="480" src="https://www.youtube-nocookie.com/embed/VnvG08masio" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
    </div>
  </div>
</div>
