<h3 class='text-center size-link my-3'> Edit kitchen</h3>
  <%= render 'shared/form_kitchen ' %>
  <%= link_to 'Previous', kitchen_path(@kitchen) %>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <%= link_to 'Back', root_path %>
      </div>
    </div>
  </div>
