<%= render 'shared/form_kitchen' %>
<!--   <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <%= link_to 'Back', root_path %>
      </div>
    </div>
  </div>
 -->
