.blog-posts {
  margin-bottom: -40px;
  padding-right: 15px;
  padding-left: 15px;
}

.post-card {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.12);
  color: #111;
  text-decoration: none;
}

.post-card-info {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 41.67%;
  min-height: 480px;
  padding: 48px 8%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.post-card-content {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 8px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}


.badge {
  padding-right: 7px;
  padding-left: 8px;
  border-radius: 3px;
  background-color: #f03e5a;
  color: #fff;
  font-size: 9px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}

.badge.post-card-category {
  margin-bottom: 2px;
}

.post-card-header-link {
  color: #111;
  text-decoration: none;
}

.w-inline-block {
  max-width: 100%;
  display: inline-block;
}

.post-card-date {
  margin-top: -8px;
  color: #bbb;
  margin-bottom: 40px;
}

.post-card-image {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 12px;
  margin-right: 12px;
  margin-bottom: 12px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: #e3e3e3;
  background-repeat: no-repeat;
  text-decoration: none;
  background-position: 50% 50%;
  background-position: contain;
}

.white-button {
  background-color: #fff;
  -webkit-transition: background-color 200ms ease, color 200ms ease;
  transition: background-color 200ms ease, color 200ms ease;
  color: #111;
}

.white-button:hover {
  background-color: #232d41;
  color: #fff;
}

.main-button.white-button.arrow-button {
  padding-right: 60px;
  background-image: url('https://res.cloudinary.com/dc8t19jnn/image/upload/v1600025359/arrow-right-icon_uqnlv8.svg');
  background-position: 81% 50%;
  background-repeat: no-repeat;
  -webkit-transform: translate(20px, 0px);
  -ms-transform: translate(20px, 0px);
  transform: translate(20px, 0px);
}
