.main-button {
  padding: 8px 24px;
  border-radius: 50px;
  background-color: #dfa25f;
  transition: background-color 200ms ease;
  color: #fff;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  border: none;
  outline: none;
  cursor: pointer;
}

.main-button:hover {
  background-color: #232d41;
  color: #fff;
  text-decoration: none;
}

.cart-button {
  font-family: Karla;
  height: 24px;
  border-radius: 4px;
  padding: 0px 20px;
  background-color: #dfa25f;
  transition: background-color 200ms ease;
  color: #fff;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  border: none;
  outline: none;
  cursor: pointer;
  width: 100%;
}

.cart-button:hover {
  background-color: #232d41;
  color: #fff;
  text-decoration: none;
}

.edit-cart-button {
  font-family: Karla;
  height: 24px;
  border-radius: 4px;
  padding: 0px 20px;
  background-color: #44232e;
  transition: background-color 200ms ease;
  color: #fff;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  border: none;
  outline: none;
  cursor: pointer;
  width: 100%;
}

.edit-cart-button:hover {
  background-color: #232E44;
  color: #fff;
  text-decoration: none;
}
